.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 45px;
}

@media screen and (max-width: 1280px) {
  .header {
    margin: 0 auto;
    max-width: 880px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 45px;
    padding-bottom: 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-top: 28px;
    padding-left: 27px;
    margin: 0;
  }
}
